<h2>Detalhes da Pousada</h2>

<div>
  <strong>Nome:</strong> <%= @guesthouse.brand_name %> <br>
  <strong>Descrição:</strong> <%= @guesthouse.description %> <br>
  <strong>Local:</strong> <%= @guesthouse.city %> - <%= @guesthouse.state %> <br>
  <strong><%= @guesthouse.handle_accepts_pets %></strong> <br>
  <strong>Check In:</strong> <%= @guesthouse.formatted_check_in %> <br>
  <strong>Check Out:</strong> <%= @guesthouse.formatted_check_out %> <br>
  <strong>Forma de Pagamento:</strong> 
  <% @guesthouse.payment_methods.each do |method| %>
    <%= method.name %>
  <% end %>
</div> <br>

<% @guesthouse.rooms.all_active.each do |room| %>
  <div>
    <%= link_to "Quarto #{room.name}", guesthouse_room_path(@guesthouse.id, room.id) %> <br>
    Descrição: <%= room.description %>
    Capacidade: <%= room.capacity %> pessoas
    Valor da diária: R$ <%= room.daily_rate %>
  </div>

<% end %>

<br>

<% if current_user.guesthouse == @guesthouse %>
  <%= link_to 'Editar', edit_guesthouse_path(@guesthouse.id) %>
  <%= link_to 'Cadastrar quarto', new_guesthouse_room_path(@guesthouse.id) %>
<% end %>