<h2>Detalhes da Pousada</h2>

<div>
  <strong>Nome:</strong> <%= @guesthouse.brand_name %> <br>
  <strong>Descrição:</strong> <%= @guesthouse.description %> <br>
  <strong>Local:</strong> <%= @guesthouse.city %> - <%= @guesthouse.state %> <br>
  <strong><%= @guesthouse.handle_accepts_pets %></strong> <br>
  <strong>Check In:</strong> <%= @guesthouse.formatted_check_in %> <br>
  <strong>Check Out:</strong> <%= @guesthouse.formatted_check_out %> <br>
  <strong>Forma de Pagamento:</strong> 
  <% @guesthouse.payment_methods.each do |method| %>
    <%= method.name %>
  <% end %>
</div> <br>

<div>
  <% if @guesthouse.rooms.all_active.any? %>
    <h3>Quartos disponíveis</h3>
    <% @guesthouse.rooms.all_active.each do |room| %>

    <strong>Nome:</strong> <%= room.name %> <br>
    <strong>Descrição:</strong> <%= room.description %> <br>
    <strong>Dimensão:</strong> <%= room.dimension %> m2 <br>
    <strong>Capacidade:</strong> <%= room.capacity %> pessoas<br>
    <strong>Banheiro:</strong> <%= boolean_to_human(room.bathroom) %> <br>
    <strong>Varanda:</strong> <%= boolean_to_human(room.balcony) %> <br>
    <strong>Ar condicionado:</strong> <%= boolean_to_human(room.air_conditioning) %> <br>
    <strong>Televisão:</strong> <%= boolean_to_human(room.television) %> <br>
    <strong>Guarda-roupas:</strong> <%= boolean_to_human(room.closet) %> <br>
    <strong>Cofre:</strong> <%= boolean_to_human(room.safe) %> <br>
    <strong>Acessibilidade:</strong> <%= boolean_to_human(room.accessibility) %> <br>
    <strong>Valor da diária:</strong> R$ <%= room.daily_rate %> <br>    

    <%= link_to 'Reservar', guesthouse_room_path(@guesthouse, room) %>

    <% end %>
  <% end %>
</div>

<br>

<% if current_user && current_user.guesthouse == @guesthouse %>
  <%= link_to 'Editar', edit_guesthouse_path(@guesthouse.id) %>
  <%= link_to 'Cadastrar quarto', new_guesthouse_room_path(@guesthouse.id) %>
<% end %>