<h2>Detalhes do quarto <%= @room.name %></h2>

<div>
  <%= render 'rooms/room_details', room: @room %>
</div>
<br>

<% if current_user && current_user.guesthouse == @room.guesthouse %>
  <%= link_to 'Editar', edit_room_path(@room.id) %>
<br>

<h2>Preços por Período</h2>

<% @room.seasonal_rates.each do |s_rate| %>

  <div>
    Descrição: <%= s_rate.description %> | de <%= formatted_date(s_rate.start_date) %> até <%= formatted_date(s_rate.end_date) %> | R$ 200.0
  </div>

<% end %>

<br><br>

<%= link_to 'Adicionar preço', new_room_seasonal_rate_path(@room.id) %>

<% end %>

<% if @reservation %>

<% if @reservation.errors.any? %>
    <% @reservation.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

<% end %>

<%= form_with model: [@room, @reservation], class: 'reservation' do |f| %>
<div>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
</div>

<div>
  <%= f.label :end_date %>
  <%= f.date_field :end_date %>
</div>

<div>
  <%= f.label :guests_number %>
  <%= f.number_field :guests_number, min: 1 %> 
</div>

<div>
  <% if @reservation.total_price %>
    <p>Total: R$ <%= @reservation.total_price %></p>
  <% end %>
</div>

<div>
  <%= f.hidden_field :room_id, value: @room.id %>
</div>

<%= f.submit 'Verificar Disponibilidade' %>
<% end %>
