<h2>Detalhes do quarto <%= @room.name %></h2>

<div>
  <strong>Nome:</strong> <%= @room.name %> <br>
  <strong>Descrição:</strong> <%= @room.description %> <br>
  <strong>Dimensão:</strong> <%= @room.dimension %> m2 <br>
  <strong>Capacidade:</strong> <%= @room.capacity %> pessoas<br>
  <strong>Valor da diária:</strong> R$ <%= @room.daily_rate %> <br>
  <strong>Banheiro:</strong> <%= boolean_to_human(@room.bathroom) %> <br>
  <strong>Varanda:</strong> <%= boolean_to_human(@room.balcony) %> <br>
  <strong>Ar condicionado:</strong> <%= boolean_to_human(@room.air_conditioning) %> <br>
  <strong>Televisão:</strong> <%= boolean_to_human(@room.television) %> <br>
  <strong>Guarda-roupas:</strong> <%= boolean_to_human(@room.closet) %> <br>
  <strong>Cofre:</strong> <%= boolean_to_human(@room.safe) %> <br>
  <strong>Acessibilidade:</strong> <%= boolean_to_human(@room.accessibility) %> <br>
</div>

<% if current_user.guesthouse == @room.guesthouse %>
  <%= link_to 'Editar', edit_room_path(@room.id) %>
<br>

<h2>Preços por Período</h2>

<% @room.seasonal_rates.each do |s_rate| %>

  <div>
    Descrição: <%= s_rate.description %> | de <%= formatted_date(s_rate.start_date) %> até <%= formatted_date(s_rate.end_date) %> | R$ 200.0
  </div>

<% end %>

<br><br>

<%= link_to 'Adicionar preço', new_room_seasonal_rate_path(@room.id) %>

<% end %>