<!DOCTYPE html>
<html>
  <head>
    <title>InnSight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <header>
    <nav>
      <h1><%= link_to InnSight, root_path %></h1>
    <% if user_signed_in? %>
      <%= current_user.description %>

      <% if current_user.host? && current_user.guesthouse %>
        <%= link_to 'Minha Pousada', guesthouse_path(current_user.guesthouse.id) %>
      <% end %>
      
      <%= button_to 'Sair', destroy_user_session_path, method: :delete %> 
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>

    <div class="search-bar">
      <% unless current_page?(advanced_search_guesthouses_path) %>
        <%= form_with(url: search_guesthouses_path, method: :get) do |f| %>
          <%= f.text_field :query, placeholder: "Busca" %>
          <%= f.submit "Buscar" %>
        <% end %>
      <% end %>

      <%= link_to 'Busca Avançada', advanced_search_guesthouses_path %>
    </div>
    </nav>
  </header>
  
  <body>
    <main>
      <div>
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
